@use "sass:map";

$light-theme: (
  "theme": #f0f0f0,
  "darken": #d8dadc,
  "dark": #bfc4c8,

  font-color: (
    "base": #2c3e50,
    "disabled": #8E97A0,
  ),
) !default;

$dark-theme: (
  "primary": #000000,
  "accent": #2c3e50,
  "font-color": #cfcfcf,
  "active": #ffffff,
) !default
